---
import NavHeader from '../components/NavHeader.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Noah Horlacher</title>
	</head>
	<body class="dark text-foreground bg-background min-h-[100vh]">
		<NavHeader client:load />
		<main>
			<slot />
		</main>
	</body>
</html>
